@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To Robertson College</h1>
    <p>Use this page to view current instructors, students, and courses available.</p>
    
</div>
